<nav class="flex items-center px-6 py-3 bg-blue-500 text-white">
  <ul class="w-full flex items-center">
    <li class="mr-5 font-normal">
      <a routerLink="/home" routerLinkActive="font-bold">Home</a>
    </li>
    <li class="mr-5 font-normal">
      <a routerLink="/posts" routerLinkActive="font-bold">Posts</a>
    </li>
    <li class="mr-5 font-normal">
      <a routerLink="/forms/template-driven" routerLinkActive="font-bold"
        >Template Driven Forms</a
      >
    </li>
    <li class="mr-5 font-normal">
      <a routerLink="/forms/reactive" routerLinkActive="font-bold"
        >Reactive Forms</a
      >
    </li>
  </ul>
  <div *ngIf="postsService.sharedData$ | async as sharedData">
    <div>{{ sharedData }}</div>
  </div>
</nav>
<main class="p-6">
  <router-outlet></router-outlet>
</main>
